In [12]:
import pandas as pd

from classification.OneRClassifier import OneRClassifier

In [13]:
classifiers = [OneRClassifier()]  # TODO

#### OneRClassifier

In [14]:
df = pd.read_csv('data/data_4x.csv')
df.head()

   x0  x1  x2  x3  y
0   0   0   1   0  0
1   1   0   0   1  1
2   2   0   1   0  1
3   0   1   0   0  1
4   0   1   1   0  1

In [15]:
X, y = df.drop(columns='y'), df['y']
X.shape, y.shape

((10, 4), (10,))

In [16]:
y.replace(0, 'class_0', inplace=True)
y.replace(1, 'class_1', inplace=True)
y = list(y)

In [17]:
model = OneRClassifier()
model.fit(X, y);

In [18]:
model.predict(pd.DataFrame({'x0': [2], 'x1': [1], 'x2': [1], 'x3': [1]}))

array(['class_0'], dtype='<U7')

#### Check classifiers (Sklearn)

In [19]:
import warnings
from sklearn.utils.estimator_checks import estimator_checks_generator

for classifier in classifiers:
    for (estimator, check) in estimator_checks_generator(classifier):
        try:
            check(estimator)
        except KeyError as e:
            if "encountered an unknown value" in str(e):
                continue
            warnings.warn(str(e))

#### data_3x

In [20]:
df = pd.read_csv('data/data_3x.csv')
df.head()

   dataset  x0  x1  x2  y
0        1   0   1   2  1
1        1   1   0   1  1
2        1   0   1   1  0
3        1   0   0   1  1
4        1   0   0   2  1